# .gitignore
venv/
.venv/
env/
__pycache__/
*.pyc
chroma_db/

# Variables de entorno
*.env
*.env.*

# Archivos con información personal sensible
.notReadable
alfred_qa_history.json
alfred_qa_history_backup_*.json
# <-- Ignorar todos los archivos JSON en la carpeta conversations
conversations/*.json